{% extends 'base.html' %}
{% load static %}

{% block title %} contacto {% endblock title %}

{% block css %} {% static 'css/contact.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!--Titulo de la pagina-->

<h1 class="title">Contacto</h1>

<!--Contenedor del Formulario de contacto-->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="box">
    <div class="form-container">
        <div class="form__info">
            <p>Si tienes preguntas acerca del servicio de trading automatico, puedes contactarnos por telegram, haz
                click en la imagen.</p>
            <div class="form-img-container">
                <a href="https://t.me/ronnyblandon" class="form-link-img">
                    <img src="{% static 'img/telegram.png' %}" alt="Telegram">
                </a>
            </div>
        </div>

        <!--Formulario de contacto-->
        <form class="form" method="post"> {% csrf_token %}
            <p>Si tienes problemas con tu cuenta, llena el siguiente formulario con los siguientes datos.</p>

            <div class="form__input-container">
                {{ form.name }}

                {{ form.last_name }}
            </div>

            {{ form.email }}

            {{ form.affair }}

            {{ form.message }}

            {{ form.captcha }}

            <button class="form__input--submit" type="submit">Enviar</button>
        </form>
    </div>
</div>

{% include 'includes/footer.html' %}
{% endblock content %}