{% extends 'base.html' %}
{% load static %}

{% block title %} terminos y condiciones {% endblock title %}

{% block css %} {% static 'css/terms.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!--Titulo de la pagina-->

<h1 class="title">Terminos y Condiciones</h1>

<!--Informacion de los Terminos y Condiciones de Uso*/-->

<div class="terms">
    <h3>INFORMACIÓN RELEVANTE</h3>    
     <p>Es requisito necesario para la adquisición de los servicios que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los productos o servicios que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un servicio, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.</p>
     <p>El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros servicios. Fortuna 303 no asume la responsabilidad en caso de que entregue dicha clave a terceros.</p>
     <p>Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del los cupos y disponibilidad del servicio, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.</p>   
     <p>Los precios de los servicios ofrecidos en Fortuna 303 es válido solamente en las compras realizadas en este sitio web.</p>

    <h2>1. Disposiciones generales</h2>
    <h3>(A) Elegibilidad</h3>
    <p>1.1 Al utilizar nuestros Servicios, usted confirma que (i) tiene plena capacidad legal para entablar una relación
    vinculante, (ii) que proporcionará información verdadera, precisa, actual y completa cuando se le solicite, e
    información que sea compatible con estos Términos, (iii) que no utilizará los Servicios de manera contraria a estos
    Términos o las leyes aplicables. Si accede a nuestros Servicios en nombre de una entidad legal, también confirma que
    (i) tiene la autorización adecuada para aceptar los términos de este Acuerdo, (ii) tiene la autorización adecuada
    para vincular a dicha entidad legal al aceptar este Acuerdo , (iii) la entidad legal en nombre de la cual usted
    acepta este Acuerdo tiene pleno poder para celebrar este acuerdo y cumplir con las obligaciones definidas en este
    documento.<br><br>

    1.2 Es posible que no controlemos quién usa la Plataforma, por lo que depende de usted evaluar si el uso de la
    Plataforma cumple con las leyes y regulaciones locales. Siempre que utilice nuestra Plataforma, deberá cumplir con
    los términos de este Acuerdo y las leyes, reglamentos y políticas aplicables. Si alguna parte de la Plataforma no
    cumple con sus leyes locales, no puede usar el Sitio y los Servicios. Cualquier Servicio de este tipo se considerará
    como 'no disponible en su región'.</p><br>

    <h3>(B) Alcance de los Servicios</h3>
    <p>1.5 Fortuna 303 no puede garantizar que los Servicios cumplan con sus requisitos o estén disponibles de forma
    ininterrumpida, segura o sin errores. Fortuna 303 no puede y no garantiza que sus Servicios estarán operativos el 100%
    del tiempo. Los servicios pueden estar caídos (i) por mantenimiento programado, (ii) eventos de fuerza mayor, (iii)
    para Usuarios específicos debido a la suspensión o terminación de la cuenta, (iv) problemas de Internet fuera del
    área de influencia de Fortuna 303, (v) errores en código, hardware o Servicios sin una solución conocida comercialmente.
    <br><br>
    1.6 Fortuna 303 no es responsable de la precisión, integridad, calidad o idoneidad de ningún Contenido de terceros
    proporcionado a través de los Servicios. Fortuna 303 actúa como un conducto pasivo para la transmisión y distribución
    del Contenido de Terceros solicitado.</p><br>

    <h3>(C) Registro</h3>
    <p>1.7 Al registrarse en nuestra Plataforma o interactuar con la Plataforma, los Usuarios deben proporcionar
    información verdadera, precisa, actual y completa sobre sí mismos según lo soliciten los formularios provistos.
    Usted acepta actualizar su información en caso de que haya algún cambio, a fin de mantener la información registrada
    verdadera, precisa, actual y completa. Si proporciona información contraria a las condiciones antes mencionadas,
    podemos negarle o cancelar su acceso al Sitio, partes del mismo o nuestros Servicios. No somos responsables de
    ninguna falla en la prestación de los Servicios que resulte de información que no sea verdadera, precisa, actual y
    completa.<br><br>

    1.8 Usted comprende que es su responsabilidad mantener la confidencialidad de su información de inicio de sesión.
    Usted es responsable de toda la actividad de su cuenta. Si alguna vez descubre o sospecha que alguien accedió a su
    cuenta sin autorización, le recomendamos que nos informe de inmediato.</p><br>

    <h3>(D) Uso Aceptable</h3>
    <p>1.9 Usted acepta que no hará un mal uso de nuestros Servicios. Un uso indebido constituye cualquier uso, acceso o
    interferencia con el Sitio o el Servicio contrario a este Acuerdo, nuestra política de privacidad y las leyes y
    reglamentos aplicables. Podemos, a nuestro exclusivo criterio, suspender o cancelar el acceso a la totalidad o parte
    del Sitio y los Servicios a cualquier Usuario, sin previo aviso ni necesidad de deliberar sobre los motivos de tal
    medida. Nos reservamos el derecho de denegar Servicios a cualquier persona en cualquier momento. Durante el uso de
    nuestros Servicios, no se comportará de manera contraria a los Términos, Políticas, leyes y reglamentos aplicables,
    y especialmente, sin limitación, no hará nada de lo siguiente:<br><br>

    I. enviar o publicar comunicaciones comerciales no autorizadas (como spam) a través del Sitio<br>
    II. recopilar el contenido o la información de los usuarios del sitio, o acceder al sitio de otro modo, utilizando
    medios automatizados (como bots de recolección, robots, arañas o raspadores) sin nuestro permiso<br>
    III.cargar virus u otro código malicioso;<br>
    IV. publicar o transmitir contenido que sea ilegal, odioso, obsceno, amenazante, que incite a la violencia, insultante,
    difamatorio, que infrinja los derechos de propiedad intelectual, que invada la privacidad o que sea objetable para
    terceros<br>
    V. tomar cualquier medida que genere una carga de uso desproporcionadamente grande en nuestro Sitio, a menos que lo
    permitamos expresamente<br>
    VI. cree más de una cuenta o comparta su cuenta con cualquier persona<br>
    VII. comunicar cualquier información o contenido que no tenga derecho a poner a disposición bajo ninguna ley o bajo
    relaciones contractuales o fiduciarias, o de otra manera infrinja o viole los derechos de otra persona<br>
    VIII. fomentar la participación o promover cualquier contenido, esquemas piramidales, encuestas, cartas en cadena o envío
    de spam o correo electrónico no solicitado a través del sitio web</p><br>

    <h3>(E) Contacto</h3>
    <p>1.10 Si nos proporciona su dirección de correo electrónico, podemos comunicarnos con usted utilizando dicha
    información de contacto, para cualquier asunto relacionado con los Servicios (correos electrónicos del Servicio).
    Estos correos electrónicos no constituyen "anuncios comerciales de correo electrónico no solicitados" y no puede
    optar por no recibirlos. Puede optar por recibir correos electrónicos sobre noticias, promociones, ofertas
    especiales u otros temas de interés relacionados con Fortuna 303 y nuestros afiliados (correos electrónicos
    promocionales). Puede optar por dejar de recibir estos correos electrónicos promocionales en cualquier momento
    siguiendo las instrucciones contenidas en los correos electrónicos promocionales.<br><br>

    1.11 Si tiene alguna pregunta o sugerencia, puede contactarnos en fortuna303.com@gmail.com.</p><br>

    <h2>2. Propiedad Intelectual</h2>
    <h3>(A) Derechos de propiedad</h3>
    <p>
    2.2 Salvo que se permita expresamente en estos Términos, usted no puede: copiar, modificar o crear trabajos derivados basados ​​en los Servicios;
    distribuir, transferir, sublicenciar, arrendar, prestar o alquilar los Servicios a terceros; realizar ingeniería
    inversa, descompilar o desensamblar los Servicios; o poner la funcionalidad de los Servicios a disposición de
    múltiples usuarios a través de cualquier medio. Nada en este Acuerdo otorgará al Usuario o a cualquier otra persona
    ningún derecho de acceso o uso del código fuente ni constituirá ninguna licencia del código fuente. Nos reservamos
    el derecho de modificar, suspender o interrumpir, temporal o permanentemente, la Plataforma o cualquier Servicio al
    que se conecte,<br><br>

    2.3 El Contenido de terceros es proporcionado por Terceros y Fortuna 303 no es responsable de dicho Contenido de
    terceros. El uso de contenido de terceros está regulado por los respectivos términos y políticas de terceros y, por
    la presente, libera a Fortuna 303 de cualquier responsabilidad con respecto a dicho contenido. El Contenido de terceros
    puede considerarse propietario y usted comprende y acepta cumplir con los términos y licencias aplicables que se le
    otorgan como usuario de dichos servicios de Terceros.</p><br>

    <h3>(B) Información confidencial</h3>
    <p>2.4 Durante la vigencia de este Acuerdo, se puede solicitar a los Usuarios que proporcionen o se ofrezcan como
    voluntarios para proporcionar cierta Información confidencial a Fortuna 303 y Fortuna 303 puede revelar cierta Información
    confidencial a los usuarios. Con respecto a dicha información, ambas partes acuerdan (i) mantener la Información
    confidencial en estricta confidencialidad, (ii) tomar todas las medidas razonables para proteger la confidencialidad
    de la Información confidencial, (iii) no divulgar ni poner a disposición de ningún otro modo la Información
    confidencial a ningún tercero sin obtener el consentimiento previo por escrito, (iv) utilizar la Información
    confidencial solo para los fines previstos, (v) devolver toda la Información confidencial y todas y cada una de las
    copias, extractos o trabajos derivados resultantes de la Información confidencial previa solicitud por escrito o al
    finalizar el contrato. el acuerdo.</p><br>

    <h2>4. Pago y Precios</h2>
    <p>4.1 El uso de los Servicios puede estar sujeto a las tarifas aplicables que se muestran en el Sitio. Todos los
    precios de los Servicios están disponibles en el Sitio. A menos que se especifique lo contrario en el Sitio, todos
    los precios se muestran sin IVA ni otros impuestos aplicables. Si el Servicio aparece con un precio incorrecto
    debido a un error tipográfico o de sistema, nos reservamos el derecho de rechazar o cancelar cualquier pedido
    realizado para los Servicios que figuran con el precio incorrecto. Si ya se ha realizado el pago del precio
    incorrecto, te devolveremos la misma cantidad de dinero en caso de cancelación.<br><br>

    4.2 Al registrarse en el Sitio, puede elegir el método de pago. Si está pagando con tarjeta de crédito, debe
    proporcionar información válida y actual necesaria para procesar el pago. Usted acepta y nos autoriza a cargar en su
    tarjeta de crédito todas las tarifas pagaderas durante el uso de nuestros Servicios.<br><br>

    4.3 Si por alguna razón no podemos procesar el pago, su registro finalizará de inmediato.<br><br>

    4.4 Nos reservamos el derecho de cambiar los precios en cualquier momento con notificación a los Usuarios activos
    actuales.</p><br>

    <h2>5. Servicios de terceros</h2>
    <p>5.1 Los Servicios pueden estar disponibles o acceder a ellos en relación con servicios y contenido de terceros
    (incluida la publicidad) que Fortuna 303 no controla. Usted reconoce que se pueden aplicar diferentes Términos de
    servicio y políticas de privacidad a su uso de dichos servicios y contenido de terceros. En ningún caso Fortuna 303 será
    responsable de los productos o servicios de dichos terceros proveedores.</p><br>

    <h2>6. Plazo y rescisión</h2>
    <p>6.2 Cualquiera de las partes puede rescindir este Acuerdo en cualquier momento. El usuario puede rescindir este
    Acuerdo simplemente desactivando su cuenta. Fortuna 303 puede rescindir este Acuerdo en cualquier momento con o sin
    motivo y sin previo aviso. Fortuna 303 también puede suspender la cuenta del Usuario y evitar que el Usuario registre
    una nueva cuenta si incumple estos Términos.<br><br>

    6.3 El usuario es responsable de pagar a Fortuna 303 todas las tarifas pendientes de pago por los Servicios
    inmediatamente después de la rescisión. En caso de que Fortuna 303 no pueda cobrar el pago del método de pago
    registrado, usted comprende y acepta que Fortuna 303 puede tomar las medidas apropiadas para cobrar los montos
    adeudados, que pueden incluir cargos por mora y gastos adicionales que correrán por cuenta del Usuario.</p><br>

    <h2>7. Indemnización</h2>
    <p>7.1 Usted indemnizará y eximirá de responsabilidad a Fortuna 303, y a sus empleados y afiliados, de y contra cualquier
    reclamo, disputa, demanda, responsabilidad, daño, pérdida y costos y gastos, incluidos, entre otros, los honorarios
    legales y contables razonables que surjan de o de alguna manera relacionado con su acceso o uso del Sitio y nuestros
    Servicios, el contenido que proporciona o su violación de estos Términos.</p><br>

    <h2>8. Limitación de responsabilidad</h2>
    <p>8.1 USTED ACEPTA QUE, EN LA MEDIDA EN QUE LO PERMITA LA LEY APLICABLE, SU ÚNICA Y EXCLUSIVA SOLUCIÓN PARA CUALQUIER
    PROBLEMA O INSATISFACCIÓN CON EL SERVICIO DE FORTUNA 303 ES DEJAR DE UTILIZAR LOS SERVICIOS FORTUNA 303.<br><br>

    8.2 EN LA MEDIDA MÁXIMA QUE LO PERMITA LA LEY APLICABLE, FORTUNA 303, SUS EMPLEADOS, FUNCIONARIOS, ACCIONISTAS,
    DIRECTORES, AGENTES, SUBSIDIARIAS, AFILIADOS, SUCESORES, PROVEEDORES, CESIONARIOS O LICENCIATARIOS NO SERÁN
    RESPONSABLES DE CUALQUIER COSA INDIRECTA, ESPECIAL, INCIDENTAL, PUNITIVA, EJEMPLAR O CONSECUENTE DAÑOS O CUALQUIER
    PÉRDIDA DE BENEFICIOS O INGRESOS, YA SEA INCURRIDO DIRECTA O INDIRECTAMENTE, O CUALQUIER PÉRDIDA DE DATOS, USO,
    BUENA VOLUNTAD U OTRAS PÉRDIDAS INTANGIBLES, DERIVADAS DE SU ACCESO O USO O INCAPACIDAD PARA ACCEDER O UTILIZAR LOS
    SERVICIOS DE FORTUNA 303, APLICACIONES DE TERCEROS O CONTENIDO DE APLICACIONES DE TERCEROS, INDEPENDIENTEMENTE DE LA
    TEORÍA JURÍDICA, INCLUSO SI FORTUNA 303 HA SIDO ADVERTIDO DE LA POSIBILIDAD DE DICHOS DAÑOS E INCLUSO SI UNA REPARACIÓN
    FALLA EN SU PROPÓSITO ESENCIAL. EN NINGÚN CASO LA RESPONSABILIDAD TOTAL DE FORTUNA 303 EXCEDERÁ LA CANTIDAD QUE USTED
    PAGÓ A FORTUNA 303.<br><br>

    8.3 Fortuna 303, sus empleados, agentes y directores no aceptan ninguna responsabilidad y usted acepta liberarnos de
    cualquier responsabilidad que surja (ya sea directa o indirectamente) de la información proporcionada a través de
    los Servicios, o cualquier error u omisión de dicha información. Fortuna 303 no es responsable de las pérdidas (ya sea
    directa o indirectamente) causadas por sus acciones o decisiones basadas en su confianza en la información que se le
    proporcionó a través de los Servicios, ni por la demora, el mal funcionamiento de la operación o la disponibilidad
    de los Servicios. Aunque nos esforzamos por la precisión del Contenido que proporcionamos a través de la Plataforma,
    no ofrecemos ninguna garantía ni representación en cuanto a la exactitud y precisión de dicho Contenido.</p><br>

    <h2>9. Descargo de responsabilidad sobre ganancias</h2>
    <p>9.1 La información proporcionada a través de la Plataforma se proporciona únicamente con fines informativos y
    educativos. Fortuna 303 no es una institución financiera ni un asesor financiero o legal. Fortuna 303
    no participa en la creación del contenido y solo actúa como un conducto para facilitar el acceso al Contenido de
    terceros. Fortuna 303 no hace representaciones, garantías o garantías expresas o implícitas, con respecto a los
    resultados que se pueden obtener a través del uso de la Plataforma. Nada de lo que se muestra en la Plataforma o se
    proporciona a través de la Plataforma puede interpretarse como una promesa o garantía de ningún tipo con respecto a
    sus ganancias potenciales o resultados específicos. Antes de tomar cualquier decisión financiera, Fortuna 303 recomienda
    obtener información adicional y asesoramiento de contadores u otros asesores financieros.</p><br>

    <h2>10. Cambios</h2>
    <p>10.1 FORTUNA 303 PUEDE REALIZAR CAMBIOS O REEMPLAZAR NUESTRO ACUERDO DE TÉRMINOS Y CONDICIONES EN CUALQUIER MOMENTO.
    PUBLICAREMOS DICHOS CAMBIOS, SUSTITUCIONES Y ACTUALIZACIONES EN EL SITIO Y LE INFORMAREMOS POR CORREO ELECTRÓNICO
    DONDE SEA POSIBLE ANTES DE QUE LOS CAMBIOS SEAN EFECTIVOS, Y DICHOS CAMBIOS, SUSTITUCIONES Y ACTUALIZACIONES DE
    NUESTRO ACUERDO DE TÉRMINOS Y CONDICIONES ENTRARÁN EN VIGOR INMEDIATAMENTE DESPUÉS DE SU PUBLICACIÓN EN EL SITIO.
    USTED ACEPTA MANTENERSE ACTUALIZADO CON EL ÚLTIMO ACUERDO DE TÉRMINOS Y CONDICIONES PUBLICADO Y ACEPTA Y ESTÁ
    OBLIGADO POR DICHO CAMBIO, REEMPLAZO Y ACTUALIZACIÓN SI ACCEDE O UTILIZA NUESTRO SERVICIO DESPUÉS DE QUE LO HAYAMOS
    PUBLICADO EN NUESTRO SITIO. EL ACUERDO DE TÉRMINOS Y CONDICIONES SE APLICA SIN IMPORTAR DESDE QUÉ DISPOSITIVO O
    SISTEMA OPERATIVO ACCEDA A NUESTROS SERVICIOS.</p><br>

    <h2>12. Disposiciones Finales</h2>
    <p>12.1 Si se determina que alguna parte de estos Términos es inválida, ilegal o inaplicable en algún aspecto, no
    afectará la validez o aplicabilidad del resto de los Términos.<br><br>

    12.2 Los títulos de las secciones en los Términos son solo por conveniencia y no tienen ningún efecto legal o
    contractual.<br><br>

    12.3 La falta de ejercicio o ejecución de cualquier derecho o disposición de este acuerdo no constituirá una
    renuncia a tal derecho o disposición.<br><br>

    12.4 Ninguna de las Partes podrá ceder o transferir ningún derecho u obligación bajo este Acuerdo a un tercero sin
    obtener el consentimiento previo por escrito, excepto a los sucesores en caso de fusión, venta o liquidación de la
    Parte.</p>
</div>

{% include 'includes/footer.html' %}
{% endblock content %}