{% extends 'base.html' %}
{% load static %}

{% block title %} Panel Usuario {% endblock title %}

{% block css %} {% static 'css/panel-user.css' %} {% endblock css %}
{% block css %} {% static 'css/panel-user.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %} 

<!--Titulo de la pagina-->

<h1 class="title">Sistema de Facturación</h1>

<!--Contenido del Panel de Usuario-->
<div class="box-general">
    <section class="box-ganancias box-user">
        <h2 class="box-title"></h2>
    </section>
</div>

{% include 'includes/footer.html' %}
{% endblock content %}