{% extends 'base.html' %}
{% load static %}

{% block title %} Panel Usuario {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}
{% block css2 %} {% static 'css/panel-user.css' %} {% endblock css2 %}
{% block content %}
{% include 'includes/header.html' %}
<!--Titulo de la pagina-->

<h1 class="title">Panel de usuario</h1>

<!-- Mensajes de exito o de error -->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>  
    {% endfor %}
</ul>
{% endif %}

<!--Contenido del Panel de Usuario-->
<div class="box-general">

    <div class="container">
        <!-- sección con los datos de usuario -->
        <section class="box-user">
            <h2 class="box-title">Datos de Usuario</h2>
            <h4>Nombre: <span>{{ user.name }} {{ user.last_name }}</span></h4>
            <h4>Correo: <span>{{ user.email }}</span></h4>
            
            {% if copytrading %}
            <h4>Copytrading: <span>Activo</span></h4>
            {% else %}
            <h4>Copytrading: <span>Inactivo</span></h4>
            {% endif %}

            {% if vps %}
            <h4>Vps: <span>Activo</span></h4>
            {% else %}
            <h4>Vps: <span>Inactivo</span></h4>
            {% endif %}
            {% if user.subscriber %}
            <a class="unsubscribe" href="{% url 'vps_app:confirmation_unsubscribe' %}">Darse de Baja del servicio de Vps + Copytrading</a>
            {% else %}
            <a class="link-fisrt-payment" href="{% url 'payments_app:first_payment' %}">Adquirir Copytrading + Vps</a>
            {% endif %}
        </section>

        <!-- Sección de agregar y visualizacion de cuentas mt5 del usuario -->
        <section class="box-mt5 box-mt5-width">
            <div class="header-table">
                <h2 class="box-title">Cuenta Metatrader5</h2>
                {% if user.subscriber %}
                    {% if active == False %}
                        {% if accounts.count == 0 %}
                    <button class="open-modal-add">Agregar</button>
                        {% else %}
                        {% for account in accounts %}
                    <div class="open-modal-message">
                        <img class="img-trash img-trash-modal" src="{% static 'img/trash-mt5.svg' %}" alt="Eliminar">
                    </div>
                        {% endfor %}
                        {% endif %}

                    {% else %}
                        {% if accounts.count == 0 %}
                    <button class="open-modal-add">Agregar</button>
                        {% else %}
                        {% for account in accounts %}
                        <div>
                            <a href="{% url 'vps_app:delete_account_mt5' account.id%}">
                                <img class="img-trash" src="{% static 'img/trash-mt5.svg' %}" alt="Eliminar">
                            </a>
                        </div>
                        {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <table class="accounts-table">
                <tr class="thead">
                    <th>Usuario</th>
                    <th>Servidor</th>
                    <th>Estado</th>
                </tr>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.login }}</td>
                    <td>{{ account.server }}</td>
                    <td>{{ account.get_status_display }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>

    <!-- Modal de mensaje sobre botones de agregar y borrar cuenta mt5 solo estan habilitados en tiempo determinado -->

    <dialog id="modal-message">
        <div>
            <p>Solo se puede "Eliminar" cuentas metatrader5 los viernes de 3:00 pm 
            hasta el domingo 7:00 pm (horario UTC-6).
            </p>
            <p>
            Visita la página de <a href="{% url 'home_app:how_work' %}"> ¿Cómo funciona?</a> 
            Para más información.
            </p>
        </div>
        <button class="close-modal-message">Cerrar</button>
    </dialog>

    <!--Modal para crear y agregar cuenta mt5-->

    <dialog id="modal-add">
        <div class="header-modal">
            <h2>Agregar Cuenta MT5</h2>
            <button class="close-modal-add">X</button>
        </div>

        <form class="form-add" method="post" action="{% url 'vps_app:add_account_mt5' %}"> {% csrf_token %}
            <label class="form-register__label">
                <img src="{% static 'img/icono-user.svg' %}" alt="icono-user">
                {{ form_mt5.login }}
            </label>

            <label class="form-register__label">
                <img src="{% static 'img/icono-contraseña.svg' %}" alt="">
                {{ form_mt5.password }}
            </label>

            <label class="form-register__label">
                <img src="{% static 'img/server-solid.svg' %}" alt="icono-user">
                {{ form_mt5.server }}
            </label>
            {{ form_mt5.id_user }}
            <p>Por favor, asegúrese de colocar correctamente los datos de su cuenta de metatrader 5.<br>
                La conexión puede demorar unos minutos.<br>
            </p>
            <button class="button-send-modal" type="submit">Agregar</button>
        </form>
    </dialog>

    <!--Loader para agregar cuentra mt5-->
    
    <div class="box-loader">
        <img src="{% static 'img/image-loader.gif' %}" alt="image-loader">
    </div>

    <!-- Tabla de historial de operaciones de la cuenta mt5 -->

    <section class="box-mt5">
        <h2 class="box-title">Historial de operaciones en la semana actual</h2>
        <div>
            <table class="accounts-table operations-table">
                <tr class="thead">
                    <th>Fecha Apertura</th>
                    <th>Precio Apertura</th>
                    <th>Par</th>
                    <th>Tipo</th>
                    <th>Lotaje</th>
                    <th>Fecha Cierre</th>
                    <th>Precio Cierre</th>
                    <th>Comisión</th>
                    <th>Swap</th>
                    <th>Beneficio</th>
                </tr>
                {% for trade in operations2 %}
                <tr class="tr-operation2">
                    <td>{{ trade.open_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ trade.open_price }}</td>
                    <td>{{ trade.symbol }}</td>
                    <td>{{ trade.type }}</td>
                    <td>{{ trade.volume }}</td>
                    <td>{{ trade.close_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ trade.close_price }}</td>
                    <td>{{ trade.commission }}</td>
                    <td>{{ trade.swap }}</td>
                    <td>{{ trade.profit }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Bloque de paginación para la tabla historial de operaciones de la cuenta mt5 -->
        <div>
            {% if operations2 %}
            <nav id="paginator2">
                <button class="page3 link-page-first" value="1">&laquo;</button>
                <button class="page3 link-page-previous" value="1">&lsaquo;</button>
                <!--Limitamos la cantidad de botones en el paginador hasta 12 botones incluyendo los 
                botones de retroceder y avanzar para que no se deforme en los dispositivos moviles-->
                {% if operations2.paginator.num_pages >= 8 %}
                    {% for pagina in range %}
                    {% if pagina == operations2.number %}
                <button class="page3 link-page-current" value="{{pagina}}">{{ pagina }}</button>
                    {% else %}
                <button class="page3" value="{{pagina}}">{{ pagina }}</button>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    {% for pagina in operations2.paginator.page_range %}
                    {% if pagina == operations2.number %}
                <button class="page3 link-page-current" value="{{pagina}}">{{ pagina }}</button>
                    {% else %}
                <button class="page3" value="{{pagina}}">{{ pagina }}</button>
                    {% endif %}
                    {% endfor %}
                {% endif %}
                <button class="page3 link-page-next" value="2">&rsaquo;</button>
                <button class="page3 link-page-last" value="9">&raquo;</button>
                {% endif %}
            </nav>
        </div>
    </section>


    <!-- Tabla de ganancias semanales de la cuenta mt5 -->

    <section class="box-mt5">
        <h2 class="box-title">Ganancias Semanales</h2>
        <div>
            <table class="accounts-table operations-table profit-table">
                <tr class="thead">
                    <th>Id</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Final</th>
                    <th>Balance Inicial</th>
                    <th>Retiro/Deposito</th>
                    <th>Balance Final</th>
                    <th>Beneficio Bruto</th>
                    <th>Comisiones</th>
                    <th>Swap</th>
                    <th>Benefecio Neto</th>
                </tr>
                {% for profit in profits %}
                <tr class="tr-profits">
                    <td>{{ profit.id }}</td>
                    <td>{{ profit.start_date|date:"Y-m-d" }}</td>
                    <td>{{ profit.end_date|date:"Y-m-d" }}</td>
                    <td>{{ profit.start_balance }}</td>
                    <td>{{ profit.withdraw_deposit }}</td>
                    <td>{{ profit.end_balance }}</td>
                    <td>{{ profit.gross_profit }}</td>
                    <td>{{ profit.commission }}</td>
                    <td>{{ profit.swap }}</td>
                    <td>{{ profit.net_profit }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Bloque de paginación para la Tabla de ganacias semanales de la cuenta mt5 -->
        <div>
            {% if profits %}
            <nav id="paginator">
                <button class="page link-page-first" value="1">&laquo;</button>
                <button class="page link-page-previous" value="1">&lsaquo;</button>
                <!--Limitamos la cantidad de botones en el paginador hasta 12 botones incluyendo los 
                botones de retroceder y avanzar para que no se deforme en los dispositivos moviles-->
                {% if profits.paginator.num_pages >= 8 %}
                    {% for pagina in range %}
                    {% if pagina == profits.number %}
                <button class="page link-page-current" value="{{pagina}}">{{ pagina }}</button>
                    {% else %}
                <button class="page" value="{{pagina}}">{{ pagina }}</button>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    {% for pagina in profits.paginator.page_range %}
                    {% if pagina == profits.number %}
                <button class="page link-page-current" value="{{pagina}}">{{ pagina }}</button>
                    {% else %}
                <button class="page" value="{{pagina}}">{{ pagina }}</button>
                    {% endif %}
                    {% endfor %}
                {% endif %}
                <button class="page link-page-next" value="2">&rsaquo;</button>
                <button class="page link-page-last" value="9">&raquo;</button>
            </nav>
            {% endif %}
        </div>
    </section>


    <!--Sección para mostrar las operaciones de la cuenta madre-->

    <section class="box-mt5">
        <h2 class="box-title">Historial de operaciones de la cuenta Madre</h2>
        <div>
            <table class="accounts-table operations-table">
                <tr class="thead">
                    <th>Fecha Apertura</th>
                    <th>Precio Apertura</th>
                    <th>Par</th>
                    <th>Tipo</th>
                    <th>Lotaje</th>
                    <th>Fecha Cierre</th>
                    <th>Precio Cierre</th>
                    <th>Beneficio</th>
                </tr>
                {% for trade in operations %}
                <tr class="tr-operation">
                    <td>{{ trade.open_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ trade.open_price }}</td>
                    <td>{{ trade.symbol }}</td>
                    <td>{{ trade.type }}</td>
                    <td>{{ trade.volume }}</td>
                    <td>{{ trade.time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ trade.close_price }}</td>
                    <td>{{ trade.profit }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- bloque de paginacion de la Tabla de historial de operaciones de la cuenta madre-->
        <div>
            {% if operations %}
            <nav id="paginator2">
                <button class="page2 link-page-first" value="1">&laquo;</button>
                <button class="page2 link-page-previous" value="1">&lsaquo;</button>
                <!--Limitamos la cantidad de botones en el paginador hasta 12 botones incluyendo los 
                botones de retroceder y avanzar para que no se deforme en los dispositivos moviles-->
                {% if operations.paginator.num_pages >= 8 %}
                    {% for pagina in range %}
                    {% if pagina == operations.number %}
                <button class="page2 link-page-current" value="{{pagina}}">{{ pagina }}</button>
                    {% else %}
                <button class="page2" value="{{pagina}}">{{ pagina }}</button>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    {% for pagina in operations.paginator.page_range %}
                    {% if pagina == operations.number %}
                <button class="page2 link-page-current" value="{{pagina}}">{{ pagina }}</button>
                    {% else %}
                <button class="page2" value="{{pagina}}">{{ pagina }}</button>
                    {% endif %}
                    {% endfor %}
                {% endif %}
                <button class="page2 link-page-next" value="2">&rsaquo;</button>
                <button class="page2 link-page-last" value="9">&raquo;</button>
                {% endif %}
            </nav>
        </div>
    </section>
    
</div>

<script src="{% static 'js/panel-user.js' %}" type="module"></script>


{% include 'includes/footer.html' %}
{% endblock content %}
