.box-content {
    display: flex;
    width: fit-content;
    padding: 0.625em;
    flex-direction: column;
    align-items: center;
    gap: 0.9375em;
    margin: 1.25em auto 1.25em auto;
    background-color: #fff;
    border-radius: 0.625em;
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    animation: colores-3 1s linear infinite alternate;
}
.box-buttons {
    display: flex;
}
.button-delete, .button-back{
    width: fit-content;
    margin: 0em 0.9375em 0em 0em;
    padding: 0.4375em;
    background-color: #e00;
    color: #fff;
    text-decoration: none;
    border: 0.125em solid #000;
    border-radius: 0.5em;
}
.button-delete:active, .button-back:active {
    background-color: #0007;
}
.button-delete:hover {
    cursor: pointer;
}
.button-back {
    margin: 0em 0em 0em 0.9375em;
    background-color: #07f;
}


/*All animations of panel-user*/
@keyframes colores-3 {    /*titulo de la pagina de inicio*/
    0% {
        border-left: 0.25em solid #f00;
        border-right: 0.25em solid #f00;
    }
}
