:root {
    --color-form: #070;
    --color-container: #222;
}

/*Informacion de contacto*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo_contact.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.form-container {
    width: 95%;
    margin: 1.875em 0em;
    padding: 1.25em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1.5625em;
    background-color: var(--color-container);
    box-shadow: 0em 0em 0.625em #099;
}

.form__info {
    padding: 0.3125em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form__info p, .form p {
    padding: 0em 0.625em;
    color: #fff;
    font-weight: 600;
}
.form-img-container {
    width: 9.375em;
    margin: 1.5625em auto;
    background-color: #fff;
    border-radius: 0.9375em;
}
.form-link-img img {
    width: 85%;
    margin: 0.625em;
    transform: scale(0.8);
    animation: girar 4s infinite ease;
}

/*Form of Contact*/

.form {
    padding: 0.3125em 0.9375em;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1.25em;
}
.form p {
    padding: 1.875em 0em;
    border-top: 0.125em solid #fff4;
}
.form__input, .form__input--size, .form__input--submit {
    width: 100%;
    margin: 0.3125em 0em;
    padding: 0.3125em 0em;
    font-size: 1.125em;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.125em solid var(--color-form);
    color: #fff;
    align-self: center;
}
.form__input:hover, .form__input--size:hover, .form__input--submit:hover {
    background-color: #0006;
}
.form__input:focus, .form__input--size:focus {
    background: linear-gradient(to bottom, #444, #222);
    border-bottom: 0.125em solid #44f;
}
.form__input--submit:active {
    background: #fff4;
    text-decoration: underline;
}
.form__input-container {
    width: 100%;
    margin: 0em 0.625em;
    display: flex;
    column-gap: 0.9375em;
    align-self: center;
}
.form textarea {
    height: 8.75em;
    resize: none;
}
.form__input--submit {
    margin: 0.625em;
    padding: 0.625em 0em;
    background-color: var(--color-form);
    border: none;
}
.form__input::placeholder {
    color: #fff5;   
}

/*All animations of page contact*/

@keyframes girar {
    50% {
        transform: scale(1) rotate(360deg) ;
    }
}

/*MEDIA QUERY*/

@media screen and (min-width: 768px){

    /*Informacion de Contacto*/
    .form-container {
        width: 70%;
    }
}

@media screen and (min-width: 1024px){
    
    /*Informacion de contacto*/
    .box {
        min-height: 100vh;
        background-image: url("../img/fondo_contact2.jpg");
    }

    .form-container {
        align-items: center;
    }

    .form__info {
        width: 50%;
    }

    /*Form of Contact*/

    .form {
        width: 50%;
        padding: 0.625em 1.5625em;
        border-left: 0.125em solid #fff4;
    }
    .form__info p, .form p {
        border: none;
        font-size: 1.125em;
    }
    .form__input, .form__input--size, .form__input--submit {
        font-size: 1.125em;
    }
}

@media screen and (min-width: 1440px) {
    /*Informacion de contacto*/
    .box {
        font-size: 17px;
    }
}


@media screen and (min-width: 1920px){
    /*Informacion de contacto*/
    .box {
        font-size: 22px;
    }
}


@media screen and (min-width: 2560px){
    /*Informacion de contacto*/
    .box {
        font-size: 30px;
    }
}


@media screen and (min-width: 3840px){
    /*Informacion de contacto*/
    .box {
        font-size: 45px;
    }
}
