/*Variables*/

:root {
    --color-form: #070;
    --color-container: #222;
}

/*Informacion de contacto*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo_contact.jpg");
    background-size: 100%;
}

.form-container {
    width: 95%;
    margin: 30px 0px;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--color-container);
    box-shadow: 0px 0px 10px #099;
}

.form__info {
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form__info p, .form p {
    padding: 0px 10px;
    color: #fff;
    font-weight: 600;
}
.form-img-container {
    width: 150px;
    margin: 25px auto;
    background-color: #fff;
    border-radius: 15px;
}
.form-link-img img {
    width: 85%;
    margin: 10px;
    transform: scale(0.8);
    animation: girar 4s infinite ease;
}

/*Form of Contact*/

.form {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}
.form p {
    padding: 30px 0px;
    border-top: 2px solid #fff4;
}
.form__input, .form__input--size, .form__input--submit {
    width: 100%;
    margin: 5px 0px;
    padding: 5px 0px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color-form);
    color: #fff;
    align-self: center;
}
.form__input:hover, .form__input--size:hover, .form__input--submit:hover {
    background-color: #0006;
}
.form__input:focus, .form__input--size:focus {
    background: linear-gradient(to bottom, #444, #222);
    border-bottom: 2px solid #44f;
}
.form__input--submit:active {
    background: #fff4;
    text-decoration: underline;
}
.form__input-container {
    width: 100%;
    margin: 0px 10px;
    display: flex;
    column-gap: 15px;
    align-self: center;
}
.form textarea {
    height: 140px;
    resize: none;
}
.form__input--submit {
    margin: 10px;
    padding: 10px 0px;
    background-color: var(--color-form);
    border: none;
}
.form__input::placeholder {
    color: #fff5;   
}

/*All animations of page contact*/

@keyframes girar {
    50% {
        transform: scale(1) rotate(360deg) ;
    }
}

/*MEDIA QUERY*/

@media screen and (min-width: 768px){

    /*Informacion de Contacto*/
    .form-container {
        width: 70%;
    }
}

@media screen and (min-width: 1024px){
    
    /*Informacion de contacto*/
    .box {
        height: 100vh;
    }

    .form-container {
        align-items: center;
    }

    .form__info {
        width: 50%;
    }

    /*Form of Contact*/

    .form {
        width: 50%;
        padding: 10px 25px;
        border-left: 2px solid #fff4;
    }
    .form__info p, .form p {
        border: none;
        font-size: 18px;
    }
    .form__input, .form__input--size, .form__input--submit {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    /*Informacion de contacto*/

    .form-container {
            width: 45%;
        }


    .form__info p, .form p {
        border: none;
        font-size: 18px;
    }
    .form__input, .form__input--size, .form__input--submit {
        font-size: 18px;
    }
}