.box-general {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0.5em;
    background-image: url('../img/fondo-panel.jpg');
}

/* Detalles del Pago */
.details-payment, .method-payment {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0.7em 0em 1em 0em;
    padding: 0.5em 1.5em;
    background-color: #fff;
    box-shadow: 0em 0em 0.625em #044;
}
.details-payment-child {
    display: flex;
    align-items: center;
    width: fit-content;
}
.details-payment-child p {
    padding: 0em 0.5em 0em 0.5em;
    color: #08f;
    font-weight: 600;
    text-shadow: 0.05em 0.05em #000;
}
.details-payment-description p {
    color: #080;
    font-weight: 700;
}

/* Sección para avisar que los metodos de pago solo estan habilitados en tiempo determinado */
.info-message {
    margin: 0em 0em 0.7em 0em;
    background-color: #0C92DF;
    border-radius: 0.5em;
}
.info-message h2 {
    padding: 0.2em 0em;
    background-color: #cc0;
    text-align: center;
    color: #fff;
}
.info-message p {
    padding: 0.5em 0.7em;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

/* Metodo de Pago */
.method-payment {
    flex-direction: column;
    align-items: center;
}

.container-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-paypal, .button-stripe {
    width: fit-content;
    text-align: center;
    margin: 0.7em 0em;
    padding: 0.4em 1.5em;
    background-color: #08f;
    border: 0.125em solid #00f;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    border-radius: 0.8em;
}
.button-paypal:hover, .button-stripe:hover {
    cursor: pointer;
}
.button-paypal:active, .button-stripe:active {
    background-color: #0007;
    text-decoration: underline;
}
.button-stripe {
    background-color: #9500DF;
    border: 0.125em solid #f90;
}

/* Formulario de stripe */
.credit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credit-card h3 {
    margin: 0.5em 0em;
}
.form-stripe input {
    display: block;
    margin: 0.2em 0em 0.8em 0em;
    font-size: 1.2em;
}
.button-send {
    display: inline;
    padding: 0.4em 0.8em;
    background-color: #090;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 0.8em;
    box-shadow: 0.125em 0.125em #000;
}
.button-send:hover {
    cursor: pointer;
    background-color: #00f8;
}
.button-send:active {
    box-shadow: none;
}


@media screen and (min-width: 425px) {
    /* Caja General */
    .box-general {
        font-size: 18px;
    }
}


@media screen and (min-width: 768px) {
    /* Caja General */
    .box-general {
        font-size: 24px;
    }
    .details-payment {
        width: 24em;
    }
}


@media screen and (min-width: 1024px) {
    /* Caja General */
    .box-general {
        font-size: 18px;
    }
    
    .details-payment {
    width: 40.75em;

    }
    .details-payment-child {
        padding: 0em 1em 0em 1em;
    }
    .details-payment-description {
        margin-top: 0.8em;
    }

    .info-message {
        width: 46em;
    }
}


@media screen and (min-width: 1440px) {
    .box-general {
        font-size: 25px;
    }
}


@media screen and (min-width: 2560px) {
    .box-general {
        font-size: 44px;
    }
}


@media screen and (min-width: 3840px) {
    .box-general {
        font-size: 68px;
    }
}
