.box-general {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0.5em;
    background-image: url('../img/fondo-panel.jpg');
}

/* Detalles del Pago */
.details-payment, .method-payment {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0.7em 0em 1em 0em;
    padding: 0.5em 1.5em;
    background-color: #fff;
    box-shadow: 0em 0em 0.625em #044;
}
.details-payment-child {
    display: flex;
    align-items: center;
    width: fit-content;
}
.details-payment-child p {
    padding: 0em 0.5em 0em 0.5em;
    color: #08f;
    font-weight: 600;
    text-shadow: 0.05em 0.05em #000;
}
.details-payment-description p {
    color: #080;
    font-weight: 700;
}

/* Sección para avisar que los metodos de pago solo estan habilitados en tiempo determinado */
.info-message {
    margin: 0em 0em 0.7em 0em;
    background-color: #0C92DF;
    border-radius: 0.5em;
}
.info-message h2 {
    padding: 0.2em 0em;
    background-color: #cc0;
    text-align: center;
    color: #fff;
}
.info-message p {
    padding: 0.5em 0.7em;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

/* Metodo de Pago */
.method-payment {
    flex-direction: column;
    align-items: center;
}

.container-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
}
/* Formulario de pago */
.label-radio-paypal, .label-radio-stripe {
    display: block;
    padding: 0.9em 0em;
    background-color: #eee;
    color: #05f;
    font-weight: 600;
}
.label-radio-paypal:hover, .label-radio-stripe:hover {
    background-color: #ddd;
}
.label-radio-paypal input[type="radio"], .label-radio-stripe input[type="radio"] {
    width: 1em;
    height: 1em;
    margin: 0em 0.7em;
}
.input-radio-checked {
    background-color: #ddd;
}
.input-checkbox{
    display: block;
    margin: 1em 0em 0em 0em;
    text-align: center;
}
.input-checkbox input[type="checkbox"] {
    width: 1em;
    height: 1em;
    margin: 0em 0.5em 0em 0em;
}
.button-payment {
    display: block;
    width: fit-content;
    margin: 0.9em auto 0.6em auto;
    padding: 0.4em 1.5em;
    background-color: #08f;
    border: 0.125em solid #00f;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    border-radius: 0.5em;
}
.button-payment:hover {
    cursor: pointer;
    background-color: #04f;
}
.button-payment:active {
    background-color: #0007;
    text-decoration: underline;
}


@media screen and (min-width: 425px) {
    /* Caja General */
    .box-general {
        font-size: 18px;
    }
}


@media screen and (min-width: 768px) {
    /* Caja General */
    .box-general {
        font-size: 24px;
    }
    .details-payment {
        width: 24em;
    }
}


@media screen and (min-width: 1024px) {
    /* Caja General */
    .box-general {
        font-size: 18px;
    }
    
    .details-payment {
    width: 40.75em;

    }
    .details-payment-child {
        padding: 0em 1em 0em 1em;
    }
    .details-payment-description {
        margin-top: 0.8em;
    }

    .info-message {
        width: 46em;
    }
}


@media screen and (min-width: 1440px) {
    .box-general {
        font-size: 25px;
    }
}


@media screen and (min-width: 2560px) {
    .box-general {
        font-size: 44px;
    }
}


@media screen and (min-width: 3840px) {
    .box-general {
        font-size: 68px;
    }
}
