@media screen and (min-width: 1024px) {
    .box-img {
        width: 45em;
        height: 30em;
        margin: 0em auto;
    }
    .box-img img{
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .box-img {
        font-size: 22.5px;
    }
}

@media screen and (min-width: 1920px) {
    .box-img {
        font-size: 30px;
    }
}

@media screen and (min-width: 2560px) {
    .box-img {
        font-size: 40px;
    }
}

@media screen and (min-width: 3840px) {
    .box-img {
        font-size: 60px;
    }
}
