/* Estilos al contenedor de todo el contenido del panel de usuario */
.box-general {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url('../img/fondo-panel.jpg');
    background-size: cover;
}

/* Contenedor de sección con los datos de usuario y de agregar y visualizacion de cuentas mt5 */
.container {
    display: flex;
    flex-direction: column;
    align-self: center;
}


/* Estilos de los titulos de cada sección de panel de usuario*/
.box-title, .header-modal h2 {
    text-align: center;
    color: #080;
    text-shadow: 2px 2px #000;
}
.title-account-mt5 {
    font-size: 24px;
}

/* primera Sección caja de datos de usuario */
.box-user {
    min-width: 320px;
    margin: 20px auto 20px auto;
    padding: 7px;
    font-size: 18px;
    background-color: #888;
    border-radius: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    animation: colores-3 1s linear infinite alternate;
}
.box-user h2 {
    text-align: center;
}
.box-user h4 span {
    color: #ffbd59;
    text-shadow: 2px 2px #f00;
}


/* tablas de cuentas mt5 del usuario y operaciones de la cuenta madre*/
.box-mt5 {
    padding: 7px;
    margin: 20px 0px 40px 0px;
    background-color: #222;
    border-radius: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    animation: colores-3 1s linear infinite alternate;
}
.header-table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
}
.accounts-table {
    margin: 10px auto 10px auto;
    border-radius: 10px;
    border-collapse: collapse;
}
.accounts-table tr:hover, .accounts-table tr:active {
    background-color: #00d;
}
.accounts-table th, .accounts-table td{
    padding: .4em .6em;
    border-bottom: 1px solid #fff;
}
.accounts-table th{
    background-color: #ffbd59;
    border: 1px solid #ffbd59;
}
.accounts-table td {
    color: #fff;
    text-align: center;
}
.open-modal-add, .img-trash{
    display: block;
    padding: 5px 5px;
    color: #fff;
    background-color: #070;
    border-radius: 10px;
    border: 2px solid #fff;
}
.open-modal-add:active {
    background-color: #0709;
}
.open-modal-add:hover {
    cursor: pointer;
}
.img-trash {
    height: 1.96em;
    background-color: #f00;
}
.img-trash:active {
    background-color: #f009;
}

/*Modal para Agregar cuenta mt5*/
#modal-add {
    margin: auto;
    width: 320px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0px 0px 10px #099;
}
#modal-add::backdrop {
    background-color: #0007;
}
.header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #ffbd59;
}
.header-modal button {
    font-size: 18px;
    padding: 5px 10px;
    background-color: #f00;
}
/* Formulario del modal para agregar cuenta mt5 */
.form-add {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    align-items: center;
    background-color: #222;
    border-radius: 15px;
}
.form-add p {
    margin: 7px;
    padding: 7px;
    background-color: #090;
    color: #fff;
}
.button-send-modal {
    margin: 10px;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    background-color: #070;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button-send-modal:hover {
    background-color: #00f9;
}
.button-send-modal:active {
    background-color: #00f6;
}
.button-send-modal:disabled {
    background-color: #ccc;
}


/* Estilos para la tabla de operaciones de cuenta madre */
.box-mt5 div {
    overflow-x: auto;
}
.operations-table {
    width: max-content;
}


/* Estilos al bloque de paginación */
#paginator, #paginator2 {
    display: flex;
    margin: 5px 0px;
    list-style: none;
}
.link-page, .link-page2, .link-page3 {
    padding: 0.1em 0.3em;
    color: #fff;
    border: none;
    background-color: transparent;
}
.link-page:active, .link-page2:active, .link-page3:active {
    background-color: #ff0;
}
.link-page-current, .link-page2-current, .link-page3-current {
    background-color: #00f;
    color: #fff;
}
.link-page-current:active, .link-page2-current:active, .link-page3-current:active {
    background-color: #ff0;
    color: #000;
}


/*All animations of panel-user*/
@keyframes colores-3 {    /*titulo de la pagina de inicio*/
    0% {
        border-left: 4px solid #ff0;
        border-right: 4px solid #ff0;
    }
}


/* MEDIA QUERY */

@media screen and (min-width: 768px){
    .box-user {
        width: 450px;
        font-size: 22px;
    }
    

    .box-mt5 {
        width: 720px;
        margin: 20px auto;
        font-size: 18px;
    }
    .box-mt5-width {
        width: fit-content;
    }

}

@media screen and (min-width: 1024px){
    .box-user {
        width: 480px;
        font-size: 24px;
    }

    /* Contenedor de sección con los datos de usuario y de agregar y visualizacion de cuentas mt5 */
    .container {
        display: flex;
        flex-direction: row;
        align-self: auto;
        align-items: center;
    }

    .box-mt5 {
        width: 900px;
    }

    .open-modal-add .open-modal-add-2 {
        border: 3px solid #fff;
    }


    #modal-add {
        width: 480px;
        border-radius: 10px;
    }
    .header-modal {
        font-size: 22px;
    }
    .header-modal button {
        font-size: 18px;
        padding: 7px 14px;
        background-color: #f00;
    }
    .form-add input {
        font-size: 22px;
    }
    .form-add p {
        font-size: 20px;
    }
    .form-add button {
        font-size: 24px;
    }

    .box-mt5-width {
        width: fit-content;
    }

}

@media screen and (min-width: 1366px){
    .box-mt5 {
        width: fit-content;
    }

    .operations-table {
        width: max-content;
    }
}

@media screen and (min-width: 1920px){
    .box-user {
        width: 720px;
        font-size: 32px;
    }
    

    .box-mt5 {
        width: fit-content;
        font-size: 28px;
    }

    .accounts-table th, .accounts-table td{
        padding: .5em;
    }

}