/* Estilos al contenedor de todo el contenido del panel de usuario */
.box-general {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url('../img/fondo-panel.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/* Contenedor de sección con los datos de usuario y de agregar y visualizacion de cuentas mt5 */
.container {
    display: flex;
    flex-direction: column;
    align-self: center;
}


/* Estilos de los titulos de cada sección de panel de usuario*/
.box-title, .header-modal h2 {
    text-align: center;
    color: #080;
    text-shadow: 0.1em 0.1em #000;
}
.title-account-mt5 {
    font-size: 1.5em;
}

/* primera Sección caja de datos de usuario */
.box-user {
    min-width: 17.777em;
    min-height: fit-content;
    margin: 1.25em auto 1.25em auto;
    padding: 0.4375em 0em;
    font-size: 1.125em;
    background-color: #888;
    border-radius: 0.625em;
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    animation: colores-3 1s linear infinite alternate;
}
.box-user h2 {
    text-align: center;
}
.box-user h4 span {
    color: #ffbd59;
    text-shadow: 0.125em 0.125em #f00;
}
.link-fisrt-payment, .unsubscribe {
    display: inline-block;
    margin: 0.4em 0em;
    padding: 0.3em 0.5em;
    text-decoration: none;
    text-align: center;
    background-color: #08f;
    font-size: 0.7em;
    border: 0.125em solid #fff;
    color: #fff;
    border-radius: 0.5em;
    cursor: pointer;
}
.unsubscribe {
    background-color: #f00;
}
.link-fisrt-payment:active, .unsubscribe:active {
    text-decoration: underline;
}


/* tablas de cuentas mt5 del usuario y operaciones de la cuenta madre*/
.box-mt5 {
    padding: 0.4375em;
    margin: 1.2em 0em 2.5em 0em;
    background-color: #222;
    border-radius: 0.625em;
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    animation: colores-3 1s linear infinite alternate;
}
.header-table {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
}
.accounts-table {
    margin: 0.625em auto 0.625em auto;
    border-radius: 0.625em;
    border-collapse: collapse;
}
.accounts-table tr:hover, .accounts-table tr:active {
    background-color: #00d;
}
.accounts-table th, .accounts-table td{
    padding: 0.4em 0.6em;
    border-bottom: 1px solid #fff;
}
.accounts-table th{
    background-color: #ffbd59;
    border: 0.0625em solid #ffbd59;
}
.accounts-table td {
    color: #fff;
    text-align: center;
}
.open-modal-add, .img-trash, .button-modal-message{
    display: block;
    padding: 0.3125em 0.3125em;
    color: #fff;
    background-color: #070;
    border-radius: 0.625em;
    border: 0.125em solid #fff;
}
.open-modal-add:active, .button-modal-message:active {
    background-color: #0709;
}
.open-modal-add:hover, .button-modal-message:hover {
    cursor: pointer;
}
.img-trash {
    height: 1.96em;
    background-color: #f00;
    cursor: pointer;
}
.img-trash:active {
    background-color: #f009;
}

/* Modal para avisar que los botones de agregar y borrar cuenta mt5 solo estan habilitados en tiempo 
determinado */
#modal-message {
    margin: auto;
    width: 20em;
    border-radius: 0.625em;
}
#modal-message::backdrop {
    background-color: #0004;
}
#modal-message p {
    padding: 0.7em;
    font-weight: 600;
}
.button-modal-message {
    background-color: #A0A0A0;
}
.img-trash-modal {
    background-color: #A0A0A0;
}
.close-modal-message {
    display: block;
    margin: 0.4em auto;
    padding: 0.5em 0.8em;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 0.6em;
    cursor: pointer;
}
.close-modal-message:active {
    text-decoration: underline;
}

/*Modal para Agregar cuenta mt5*/
#modal-add {
    margin: auto;
    width: 20em;
    border-radius: 0.625em;
    background-color: #333;
    box-shadow: 0em 0em 0.625em #099;
}
#modal-add::backdrop {
    background-color: #0007;
}
.header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.625em;
    background-color: #ffbd59;
}
.header-modal button {
    font-size: 1.125em;
    padding: 0.3125em 0.625em;
    background-color: #f00;
}
/* Formulario del modal para agregar cuenta mt5 */
.form-add {
    padding: 0.625em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5625em;
    align-items: center;
    background-color: #222;
    border-radius: 0.9375em;
}
.form-add p {
    margin: 0.4375em;
    padding: 0.4375em;
    background-color: #090;
    color: #fff;
}
.button-send-modal {
    margin: 0.625em;
    padding: 0.3125em 0.625em;
    color: #fff;
    font-size: 1.25em;
    background-color: #070;
    border-radius: 0.3125em;
    border: none;
    cursor: pointer;
}
.button-send-modal:hover {
    background-color: #00f9;
}
.button-send-modal:active {
    background-color: #00f6;
}
.button-send-modal:disabled {
    background-color: #ccc;
}


/* Estilos para la tabla de operaciones de cuenta madre */
.box-mt5 div {
    overflow-x: auto;
}
.operations-table {
    width: max-content;
}


/* Estilos al bloque de paginación */
#paginator, #paginator2 {
    display: flex;
    justify-content: center;
    margin: 0.3125em 0em;
    list-style: none;
}
.page, .page2, .page3 {
    padding: 0.1em 0.3em;
    color: #fff;
    border: none;
    background-color: transparent;
}
.page:active, .page2:active, .page3:active {
    background-color: #ff0;
}
.link-page-current, .page2-current, .page3-current {
    background-color: #00f;
    color: #fff;
}
.link-page-current:active, .page2-current:active, .page3-current:active {
    background-color: #ff0;
    color: #000;
}


/*All animations of panel-user*/
@keyframes colores-3 {    /*titulo de la pagina de inicio*/
    0% {
        border-left: 0.25em solid #ff0;
        border-right: 0.25em solid #ff0;
    }
}


/* MEDIA QUERY */

@media screen and (min-width: 375px) {
    .box-user {
        padding: 0.3888em;
    }
}

@media screen and (min-width: 768px){
    .box-user {
        width: 25em;
        font-size: 1.2222em;
    }
    

    .box-mt5 {
        width: 45em;
        margin: 1.25em auto;
        font-size: 1.125em;
    }
    .box-mt5-width {
        width: fit-content;
    }

    #modal-message {
        width: 31.25em;
        font-size: 1.125em;
    }

}

@media screen and (min-width: 1024px){
    .box-user {
        width: 22em;
        font-size: 1.5em;
    }

    /* Contenedor de sección con los datos de usuario y de agregar y visualizacion de cuentas mt5 */
    .container {
        display: flex;
        flex-direction: row;
        align-self: auto;
        align-items: center;
    }

    .box-mt5 {
        width: 50em;
    }

    .open-modal-add .open-modal-add-2 {
        border: 0.1875em solid #fff;
    }


    #modal-add {
        width: 30em;
        border-radius: 0.625em;
    }
    .header-modal {
        font-size: 1.375em;
    }
    .header-modal button {
        font-size: 0.8181em;
        padding: 0.3888em 0.7777em;
        background-color: #f00;
    }
    .form-add input {
        font-size: 1.375em;
    }
    .form-add p {
        font-size: 1.25em;
    }
    .form-add button {
        font-size: 1.5em;
    }

    .box-mt5-width {
        width: fit-content;
    }

}

@media screen and (min-width: 1366px){
    .box-mt5 {
        width: fit-content;
    }

    .operations-table {
        width: max-content;
    }
}

@media screen and (min-width: 1440px) {
    .box-general {
        font-size: 17px;
    }
}

@media screen and (min-width: 1920px){
    .box-general {
        font-size: 22px;
    }
}

@media screen and (min-width: 2560px){
    .box-general {
        font-size: 30px;
    }
}

@media screen and (min-width: 3840px){
    .box-general {
        font-size: 45px;
    }
}