/* Ocultamos el html para tablets y pc */
.box-invoices {
    display: none;
    font-size: 18px;
}

/* Caja que contiene al accordion */
.box-general-accordion {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
    background-image: url('../img/fondo-panel.jpg');
}

/* Caja del accordion */
.box-accordion, .box-accordion-2 {
    display: flex;
    flex-direction: column;
    margin: 40px 24px;
    padding: 0px 24px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #044;
}
.box-title {
    padding: 15px 0px;
    text-align: center;
    color: #070;
    text-shadow: 1px 1px #000;
    }

/* facturas */
.primary-details, .primary-details-2 {
    background-color: #f2f2f2;
}
.primary-details, .primary-details-2, .details, .details-2 {
    padding: 0.8em 0.4em;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.primary-details summary, .details summary, .primary-details-2 summary, .details-2 summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary-details summary::before, .details summary::before, .primary-details-2 summary::before, .details-2 summary::before {
    content: "+";
    font-size: 1.12em;
}
.primary-details[open] summary::before, .details[open] summary::before, .primary-details-2[open] summary::before, .details-2[open] summary::before {
    content: "-";
    font-size: 1.25em;
}
.details ul, .details-2 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
}
.details li, .details-2 li {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 3px;
}
.title-celdas {
    color: #7e7d7d;
}
.link-first-payment {
    display: block;
    margin: 0em 20%;
    text-align: center;
    padding: 0.4em 0.6em;
    background-color: #08f;
    border: 2px solid #00f;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
}
.link-first-payment:hover {
    cursor: pointer;
    background-color: #08f9;
}
.link-first-payment:active {
    text-decoration: underline;
}
.btn-pay {
    text-align: center;
    padding: 0.4em 0.6em;
    background-color: #08f;
    border: 0.15em solid #fff;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
.btn-pay:active {
    text-decoration: underline;
}

/* Estilos al bloque de paginación */
#paginator, #paginator2 {
    display: flex;
    justify-content: center;
    margin: 0.1em 0em;
    list-style: none;
}
.link-page, .link-page2, .link-page3, .link-page4 {
    padding: 0.1em 0.3em;
    color: #000;
    border: none;
    background-color: transparent;
}
.link-page:active, .link-page2:active, .link-page3:active, .link-page4:active {
    background-color: #ff0;
}
.link-page-current {
    background-color: #00c;
    color: #fff;
}
.link-page-current:active {
    background-color: #ff0;
}


/*All animations of panel-user*/
@keyframes colores-3 {    /*titulo de la pagina de inicio*/
    0% {
        border-left: 4px solid #00c;
        border-right: 4px solid #00c;
    }
}


/* Estilos a las clases para resoluciones arriba de 768px */

@media screen and (min-width: 768px) {
    /* Escondemos el html para moviles */
    .box-accordion, .box-accordion-2 {
        display: none;
    }

    /* Mostramos el html para tablets y pc */
    .box-invoices {
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 7px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    animation: colores-3 1s linear infinite alternate;
    }
    .box-title {
        font-size: 28px;
    }
    .invoice-table {
    margin: 1em auto;
    border-radius: 10px;
    border-collapse: collapse;
    font-size: 16px;
    }
    .rows-trader-payment, .rows-vps-payment {
        text-align: center;
    }
    .rows-vps-payment:hover, .rows-trader-payment:hover {
        background-color: #00f;
        color: #fff;
    }
    .invoice-table th, .invoice-table td{
        padding: .6em;
        border-bottom: 1px solid #f2f2f2;
    }
    .invoice-table th{
        background-color: #f0f0f0;
    }

    /* Modal para elegir metodo de pago */
    .header-modal h2 {
        padding: 0em 0.3em;
    }
}

@media screen and (min-width: 1024px) {
    /* Modificamos las tablas de facturas */
    .invoice-table {
        font-size: 19px;
    }
    .box-title {
        font-size: 26px;
    }
}

@media screen and (min-width: 1360px) {
    .box-general-accordion {
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 1em;
    }
}
