{% load static %}

<!--menu-principal-->

<header class="box-menu">
    <nav class="menu">
        <button class="menu__btn-bars"><img src="{% static 'img/menu-bars.svg' %}" alt="menu-bars"></button>
    
        <a class="menu__link-logo" href="{% url 'home_app:home' %}">
            <img class="menu__img-logo" src="{% static 'img/logo.png' %}" alt="logo">
        </a>
    
        <ul class="menu__list">
            <li><a href="{% url 'home_app:home' %}">Inicio</a></li>
            <li><a href="{% url 'home_app:contact' %}">Contacto</a></li>
        </ul>
    
        <ul class="menu__list-responsive">
            <li><a href="{% url 'home_app:home' %}">Inicio</a></li>
            <li><a href="{% url 'home_app:contact' %}">Contacto</a></li>
        </ul>
    
        {% if not user.is_anonymous %}
        <ul class="menu__user menu__list ">
            <li><a href="{% url 'vps_app:panel_user' %}">Panel de Usuario</a></li>
            <li><a href="{% url 'vps_app:billing' %}">Ganancias + Facturación</a></li>
            <li><a href="{% url 'users_app:update_password' %}">Cambiar Contraseña</a></li>
            <li><a href="{% url 'users_app:user_logout' %}">Cerrar Sesión</a></li>
        </ul>

        <button class="menu__btn-profile">
            <img src="{% static 'img/menu-profile.svg' %}" alt="menu-profile">
        </button>
        {% else %}
        <a href="{% url 'users_app:user_login' %}">
            <button class="menu__btn-profile">
                <img src="{% static 'img/menu-profile.svg' %}" alt="menu-profile">
            </button>
        </a>
        {% endif %}
    </nav>
</header>

<script src="{% static 'js/menu.js' %}"></script>
