{% extends 'base.html' %}
{% load static %}

{% block title %} Panel Usuario {% endblock title %}

{% block css %} {% static 'css/details-payment.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!--Titulo de la pagina-->
<h1 class="title">Detalles de pago</h1>

<!-- Mensajes de exito o de error -->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>  
    {% endfor %}
</ul>
{% endif %}

<!-- Sección de detalles de pago -->
<div class="box-general">
    <div class="details-payment">
        <div class="details-payment-child">
            <h3>Fecha: </h3>
            <p>{{ detail_payment.created_date|date:"Y-M-d" }}</p>
        </div>
        <div class="details-payment-child">
            <h3>Expiración:</h3>
            <p>{{ detail_payment.expiration|date:"Y-M-d" }}</p>
        </div>
        <div class="details-payment-child">
            <h3>Precio:</h3>
            <p>${{ detail_payment.total }}</p>
        </div>
        <div class="details-payment-description">
            <h3>Descripción:</h3> 
            <p>Renovación del servicio mensual de vps para metarader 5 y uso del sistema copytrading.</p>
        </div>
    </div>

    <div class="method-payment">
        <h2>Metodos de pago</h2>

        <div class="container-methods">
            <form id="form-payment" action="{% url 'payments_app:checkout_session' %}" method="post"> {% csrf_token %}
                <input type="hidden" name="type" value="renewal-vps">
                <input type="hidden" name="id-payment" value="{{ id_payment }}">

                <label class="label-radio-paypal">
                    <input id="paypal" type="radio" name="payment-method" value="paypal" required>Paypal<br>
                </label>
                <label class="label-radio-stripe">
                    <input id="stripe" type="radio" name="payment-method" value="stripe" required>Tarjeta de Crédito o Débito<br>
                </label>
                <label class="input-checkbox">
                    <h5>
                        <input type="checkbox" name="terms-and-conditions" required>
                        He leído y estoy de acuerdo con los <a href='{% url 'home_app:terms' %}'>términos y condiciones</a> de fortuna303.
                    </h5>
                </label>
                <button class="button-payment" type="submit">Realizar pago</button>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/details-payment.js' %}"></script>

{% include 'includes/footer.html' %}
{% endblock content %}
