{% extends 'base.html' %}
{% load static %}

{% block title %} Recuperar cuenta {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!--Titulo de la pagina-->

<h1 class="title">Recuperar Cuenta</h1>

<!--Formulario para recuperar cuenta-->
    
<div class="container-form">
    <form class="form-register" method="post"> {% csrf_token %}
    
        <hr>
    
        <div class="form__container">
            <p>Ingrese su correo electrónico con el que abrió su cuenta.</p>
        </div>
        {{ form.non_field_errors }}
        <label class="form-register__label"><img src="{% static 'img/icono-contraseña.svg' %}" alt="icono-contraseña">
            {{form.email}}</label>


        <input class="form-register__input-submit" type="submit" value="Recuperar Cuenta">
    
        <hr>
    </form>
</div class="container-form">

{% include 'includes/footer.html' %}
{% endblock content %}