{% extends 'base.html' %}
{% load static %}

{% block title %} Cambiar contraseña {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!--Titulo de la pagina-->

<h1 class="title">Cambiar contraseña</h1>

<!--Formulario de registro-->
    
<div class="container-form">
    <form class="form-register" method="post"> {% csrf_token %}
    
        <hr>
        {{ form.non_field_errors }}
        <div class="form__container">
            <p>Al cambiarla debera volver a iniciar sesión con su nueva 
                contraseñá.</p>
        </div>
        
        <label class="form-register__label"><img src="{% static 'img/icono-contraseña.svg' %}" alt="icono-contraseña">
            {{form.password3}}</label>

        {{form.password2.errors}}
        <label class="form-register__label"><img src="{% static 'img/icono-contraseña.svg' %}" alt="icono-contraseña">
            {{form.password1}}</label>

        <label class="form-register__label"><img src="{% static 'img/icono-contraseña.svg' %}" alt="icono-contraseña">
            {{form.password2}}</label>

        <input class="form-register__input-submit" type="submit" value="Actualizar">
    
        <hr>
    </form>
</div class="container-form">

{% include 'includes/footer.html' %}
{% endblock content %}